@font-face {
    font-family: "Whitney";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Whitney-Light/Whitney-Light.woff") format("woff"), url("../fonts/Whitney-Light/Whitney-Light.eot") format("eot"), url("../fonts/Whitney-Light/Whitney-Light.ttf") format("ttf");
}

@font-face {
    font-family: "Whitney";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Whitney-Book/Whitney-Book.woff") format("woff"), url("../fonts/Whitney-Book/Whitney-Book.eot") format("eot"), url("../fonts/Whitney-Book/Whitney-Book.ttf") format("ttf");
}

@font-face {
    font-family: "Whitney";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Whitney-Medium/Whitney-Medium.woff") format("woff"), url("../fonts/Whitney-Medium/Whitney-Medium.eot") format("eot"), url("../fonts/Whitney-Medium/Whitney-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Whitney";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Whitney-Bold/Whitney-Bold.woff") format("woff"), url("../fonts/Whitney-Bold/Whitney-Bold.eot") format("eot"), url("../fonts/Whitney-Bold/Whitney-Bold.ttf") format("ttf");
}