.container {
    max-width: 1752px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    background: white;
    box-shadow: 2px 2px 20px 2px rgba(56, 55, 121, 0.19);
}

.header__top {
    border-bottom: 1px solid #EBEBEB;
    padding: 29px 0px 23px;

    .container {
        display: flex;
        justify-content: space-between;

        .column {
            display: flex;
            justify-content: space-between;

            &:first-child {
                width: 55%;

                @media(max-width: 1599px) {
                    width: 42%;
                }
            }

            &:last-child {
                width: 42%;

                @media(max-width: 1599px) {
                    width: 55%;
                }
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

.logo__article {
    li {
        text-transform: uppercase;
        line-height: 32px;

        &:nth-child(1) {
            color: #00BBE4;
            font-weight: 500;
            font-size: 21px;
        }

        &:last-child {
            font-weight: 600;
            color: #FB4222;
            font-weight: 600;
            font-size: 44px;
        }
    }
}

.fillials-count {
    display: flex;
    align-items: center;

    @media(max-width: 1599px) {
        display: none;
    }
}

.fillials-count__num {
    color: #FB4222;
    font-weight: 600;
    font-size: 60px;
    margin-right: 13px;
}

.fillials-count__article {
    font-size: 20px;
    color: #00BBE4;

    span {
        color: #FB4222;
    }
}

.select {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: #99CC00;
        border-radius: 10em;
        z-index: 9999;
    }

    .selectric {
        border-radius: 4px;
        height: 40px;

        @media(min-width: 768px) {
            height: 52px;
        }
    }

    .selectric .label {
        font-weight: 400;
        font-size: 16px;
        color: #736F7B;
        padding-left: 28px;
        position: relative;
        border-radius: 4px;
        line-height: 40px;

        @media(min-width: 768px) {
            line-height: 52px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
    }

    .button {
        &:after {
            border: none;
            width: 32px;
            height: 32px;
            background: url('../img/expand_more.png') no-repeat center;
        }
    }

    .selectric {
        border: none;
    }

    .selectric .button {
        top: 50%;
        transform: translateY(-50%);
    }

    .selectric-items li {
        font-size: 16px;
        font-weight: 400;
        padding-left: 22px;
        color: #736F7B;
    }
}

.sub-title {
    font-size: 16px;
    color: #6B6B6B;
    margin-bottom: 5px;
}

.select-block {
    max-width: 416px;
    width: 100%;
}

.info-list {
    li {
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }

    .sub-title {
        padding-left: 46px;
    }

    .adress {
        margin-left: 5px;
    }
}

.phone {
    display: inline-block;
    position: relative;
    font-size: 28px;
    color: #FB4222;
    font-weight: 600;
    padding-left: 46px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border-radius: 10em;
        background: #FFED00 url('../img/phone.png') no-repeat center;
    }

    span {
        color: #374957;
    }
}

.adress {
    position: relative;
    color: #6B6B6B;
    padding-left: 42px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 10em;
        background: url('../img/hospital.png') no-repeat center;
    }
}

.main-nav {
    display: flex;
    align-items: center;

    li {
        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    a {
        font-size: 18px;
    }
}

.header__bottom {
    padding: 14px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;

        .column {
            width: 33%;
        }
    }
}

.ref-link {
    display: inline-block;
    position: relative;
    color: #1771E6;
    font-size: 16px;
    padding-left: 55px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: url('../img/medical-res.png') no-repeat center;
    }
}

.gerb {
    display: flex;
    align-items: center;
    font-weight: 500;

    &__img {
        margin-right: 20px;
    }
}