.container {
    max-width: 1752px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    background: white;
    box-shadow: 2px 2px 20px 2px rgba(56, 55, 121, 0.19);

    @media(max-width: 1279px) {
        display: none;
    }
}

.header__top {
    border-bottom: 1px solid #EBEBEB;
    padding: 29px 0px 23px;

    .container {
        display: flex;
        justify-content: space-between;

        .column {
            display: flex;
            justify-content: space-between;

            &:first-child {
                width: 55%;

                @media(max-width: 1599px) {
                    width: 42%;
                }
            }

            &:last-child {
                width: 42%;

                @media(max-width: 1599px) {
                    width: 55%;
                }
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

.logo__article {
    li {
        text-transform: uppercase;
        line-height: 32px;

        &:nth-child(1) {
            color: #00BBE4;
            font-weight: 500;
            font-size: 21px;
        }

        &:last-child {
            font-weight: 600;
            color: #FB4222;
            font-weight: 600;
            font-size: 44px;
        }
    }
}

.fillials-count {
    display: flex;
    align-items: center;
}

.fillials-count_top {
    @media(max-width: 1599px) {
        display: none;
    }
}

.fillials-count__num {
    color: #FB4222;
    font-weight: 600;
    font-size: 60px;
    margin-right: 13px;
}

.fillials-count__article {
    font-size: 20px;
    color: #00BBE4;

    span {
        color: #FB4222;
    }
}

.select {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: #99CC00;
        border-radius: 10em;
        z-index: 9999;
    }

    .selectric {
        border-radius: 4px;
        height: 40px;

        @media(min-width: 768px) {
            height: 52px;
        }
    }

    .selectric .label {
        font-weight: 400;
        font-size: 16px;
        color: #736F7B;
        padding-left: 28px;
        position: relative;
        border-radius: 4px;
        line-height: 40px;

        @media(min-width: 768px) {
            line-height: 52px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
    }

    .button {
        &:after {
            border: none;
            width: 32px;
            height: 32px;
            background: url('../img/expand_more.png') no-repeat center;
        }
    }

    .selectric {
        border: none;
    }

    .selectric .button {
        top: 50%;
        transform: translateY(-50%);
    }

    .selectric-items li {
        font-size: 16px;
        font-weight: 400;
        padding-left: 22px;
        color: #736F7B;
    }
}

.sub-title {
    font-size: 16px;
    color: #6B6B6B;
    margin-bottom: 5px;
}

.select-block {
    max-width: 416px;
    width: 100%;

    @media(max-width: 1599px) {
        max-width: 300px;
    }
}

.info-list {
    li {
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }

    .sub-title {
        padding-left: 46px;
    }

    .adress {
        margin-left: 5px;
    }
}

.phone {
    display: inline-block;
    position: relative;
    font-size: 28px;
    color: #FB4222;
    font-weight: 600;
    padding-left: 46px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border-radius: 10em;
        background: #FFED00 url('../img/phone.png') no-repeat center;
    }

    span {
        color: #374957;
    }
}

.adress {
    position: relative;
    color: #6B6B6B;
    padding-left: 42px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 10em;
        background: url('../img/hospital.png') no-repeat center;
    }
}

.main-nav {
    display: flex;
    align-items: center;

    li {
        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    a {
        font-size: 18px;
    }
}

.header__bottom {
    padding: 14px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;

        .column {
            width: 33%;
        }
    }
}

.gerb__article {
    @media(max-width: 1599px) {
        font-size: 14px;
    }
}

.ref-link {
    display: inline-block;
    position: relative;
    color: #1771E6;
    font-size: 16px;
    padding-left: 55px;

    @media(max-width: 1599px) {
        font-size: 14px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: url('../img/medical-res.png') no-repeat center;
    }
}

.gerb {
    display: flex;
    align-items: center;
    font-weight: 500;

    &__img {
        margin-right: 20px;
    }
}

.header-mob {
    background: linear-gradient(84.64deg, #00BBE4 0%, #03C4C4 100%);
    padding: 7px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 1280px) {
        display: none;
    }
}

.burger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('../img/burger.png') no-repeat center;
}

.burger.is-active {
    background: url('../img/close.png') no-repeat center;
}

.logo-mob {
    text-transform: uppercase;
    color: white;

    li {
        &:first-child {
            font-weight: 500;
            font-size: 11px;
        }

        &:last-child {
            font-weight: 600;
            font-size: 24px;
        }
    }
}

.phone-mob {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../img/phone-w.png') no-repeat center;
}

.dropdown-menu {
    position: absolute;
    left: -100%;
    transition: 0.5s;
    max-width: 320px;
    width: 100%;
    background: linear-gradient(84.64deg, #00BBE4 0%, #03C4C4 100%);
    padding: 27px 16px;
    z-index: 100;

    @media(min-width: 1280px) {
        display: none;
    }

    .sub-title {
        color: white;
    }

    .select-block {
        margin-bottom: 26px;
    }
}

.dropdown-menu.is-active {
    left: 0;
}

.dropdown-menu__article {
    font-size: 16px;
    text-align: center;
    margin-bottom: 29px;
    color: white;
}

.mob-nav {
    text-align: center;

    li {
        margin-bottom: 20px;
    }

    a {
        color: white;
        font-size: 18px;
    }
}

.top-cont__title {
    font-weight: 500;
    font-size: 24px;
    color: #484848;
    margin-bottom: 10px;

    @media(max-width: 1279px) {
        font-weight: 500;
    }

    @media(min-width: 992px) {
        font-size: 45px;
    }
}

.top-cont__sub-title {
    color: #6B6B6B;
    font-size: 14px;

    @media(max-width: 1279px) {
        padding-right: 18px;
    }

    @media(min-width: 992px) {
        font-size: 22px;
    }
}

.about-list {
    display: flex;
}


.about-list>li {
    &:first-child {
        margin-right: 66px;
    }
}

.about-list_top {
    display: block;

    @media(min-width: 600px) {
        display: flex;
    }

    @media(min-width: 1900px) {
        margin-bottom: 25px;
    }
}

.about-price,
.about-time {
    display: flex;
    align-items: center;
}

.about-time__img,
.about-price__img {
    margin-right: 20px;

    @media(max-width: 1279px) {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}

.about-price__info,
.about-time__info {
    li {
        &:first-child {
            color: #898F97;
            font-size: 18px;
            margin-bottom: 5px;

            @media(max-width: 1279px) {
                font-size: 16px;
                margin-bottom: 0;
            }
        }

        &:last-child {
            color: #10B10D;
            font-weight: 600;
            font-size: 30px;

            @media(max-width: 1279px) {
                font-size: 24px;
            }
        }
    }
}

.about-list_top>li {
    margin-bottom: 32px;

    &:first-child {
        margin-right: 0;

        @media(min-width: 600px) {
            margin-right: 30px;
        }
    }
}

.warn-article {
    max-width: 850px;
    width: 100%;
    color: #6B6B6B;
    font-size: 18px;
    position: relative;

    @media(max-width: 1279px) {
        font-size: 16px;
    }

    @media(min-width: 1280px) {
        padding-left: 60px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 42px;
            height: 40px;
            background: url('../img/warn-icon.png') no-repeat center;
        }
    }
}

.btn {
    max-width: 360px;
    width: 100%;
    // display: block;
    color: #333333;
    height: 80px;
    font-size: 20px;
    background: #FFED00;
    border-radius: 6px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.34);
    font-weight: 500;
}

.top-cont__btn {
    max-width: 530px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.gerb_mob {
    max-width: 400px;
    margin-bottom: 14px;

    @media(min-width: 768px) {
        margin-bottom: 0;
    }

    .gerb__img {
        width: 47px;
        margin-right: 10px;
    }

    .gerb__article {
        font-size: 14px;
        width: calc(100% - 47px);
    }
}

.top-cont__left {
    display: flex;
    flex-direction: column;

    .top-cont__info {
        @media(max-width: 799px) {
            order: 2;
        }
    }
}

.top-cont__btn-wrap {
    position: relative;
    margin-bottom: 56px;
    padding-top: 25px;

    @media(max-width: 799px) {
        padding-top: 98px;
    }

    @media(min-width: 1280px) {
        margin-bottom: 25px;
    }

    &:after {
        content: '';
        position: absolute;
        right: -10px;
        top: -148px;
        width: 277px;
        height: 349px;
        background: url('../img/doc.png') no-repeat center;
        z-index: 1;

        @media(min-width: 800px) {
            display: none;
        }

        @media(min-width: 1280px) {
            display: block;
            right: -16px;
            top: -245px;
        }

        @media(min-width: 1600px) {
            display: none;
        }
    }
}

.top-cont__article {
    width: 188px;

    @media(min-width: 600px) {
        width: 400px;
    }

    @media(min-width: 800px) {
        width: auto;
        margin-bottom: 25px;
    }

    @media(min-width: 1280px) {
        padding-top: 34px;
    }

    @media(min-width: 1900px) {
        margin-bottom: 60px;
    }
}

.top-cont__right {
    @media(max-width: 1599px) {
        display: none;
    }
}

.top-cont__info-mob {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    @media(min-width: 1280px) {
        display: none;
    }
}

.top-cont {
    position: relative;
    background: linear-gradient(180deg, #ECF1F2 0%, #ECF1F2 0.01%, rgba(236, 242, 242, 0.640689) 17.71%, rgba(253, 254, 255, 0.389279) 50%, rgba(218, 250, 234, 0) 100%);

    .container {
        @media(min-width: 1600px) {
            display: flex;
            justify-content: space-between;
        }

        .column {
            &:first-child {
                @media(min-width: 1600px) {
                    width: 38%;
                }

                @media(min-width: 1900px) {
                    width: 53%;
                }
            }

            &:last-child {
                @media(min-width: 1600px) {
                    width: 62%;
                }

                @media(min-width: 1900px) {
                    width: 47%;

                    .top-cont__photo {
                        position: absolute;
                    }
                }
            }
        }
    }
}

.about-block {
    padding-top: 50px;
}

.main-title {
    font-weight: 500;
    font-size: 20px;
    color: #484848;
    margin-bottom: 16px;

    @media(max-width: 767px) {
        text-align: center;
    }

    @media(min-width: 1280px) {
        font-size: 32px;
        margin-bottom: 26px;
    }
}

.cont-txt {
    color: #6B6B6B;
    font-size: 14px;

    p {
        margin-bottom: 24px;

        @media(min-width: 1280px) {
            margin-bottom: 35px;
        }
    }

    @media(min-width: 1280px) {
        font-size: 18px;
    }
}

.reference {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 2px rgba(56, 55, 121, 0.19);
    border-radius: 20px;
    padding: 28px 14px;
    margin-bottom: 40px;

    @media(min-width: 1280px) {
        padding: 37px 40px;
    }
}

.reference__all {
    padding-bottom: 25px;

    @media(min-width: 1900px) {
        padding-top: 25px;
    }

    span {
        display: inline-block;
        background: #04D000;
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding: 14px 19px;
    }
}

.reference__title {
    color: #484848;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;

    @media(min-width: 992px) {
        text-align: left;
    }

    @media(min-width: 1280px) {
        font-size: 20px;
    }

    @media(min-width: 1600px) {
        font-size: 24px;
    }

    @media(min-width: 1900px) {
        margin-bottom: 0;
    }
}

.ref-title {
    font-size: 16px;
    padding-left: 48px;
    position: relative;
    color: #374957;
    font-weight: 500;
    margin-bottom: 40px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
    }

    @media(min-width: 1280px) {
        font-size: 18px;
    }
}

.ref-title_doctor:after {
    background: url('../img/doctor.png') no-repeat center;
}

.ref-title_docum:after {
    background: url('../img/health-report.png') no-repeat center;
}

.ref-list {
    color: #374957;
    font-size: 16px;
    margin-bottom: 35px;

    @media(min-width: 1600px) {
        margin-bottom: 0;
    }

    li {
        margin-bottom: 15px;
        position: relative;
        padding-left: 15px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 6px;
            height: 6px;
            border-radius: 10em;
            background: #0C88ED;
        }
    }
}

.reference__item_img {
    text-align: center;
    margin-bottom: 25px;
}

.reference__phone {
    text-align: center;
    padding: 25px 0px;

    @media(min-width: 1900px) {
        padding: 0;
    }

    .phone {
        @media(max-width: 1279px) {
            font-size: 24px;
        }
    }
}

.reference__column-top {
    @media(min-width: 768px) {
        margin-bottom: 40px;
    }

    @media(min-width: 1900px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;

        .column {
            &:first-child {
                width: 590px;
            }
        }
    }
}

.reference__column-top_bottom {
    @media(min-width: 1900px) {
        margin-bottom: 10px;
    }
}

.reference__top {
    @media(min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }

    .reference__item {
        &:first-child {
            @media(min-width: 992px) {
                width: calc(100% - 300px);
            }

            @media(min-width: 1280px) {
                width: calc(100% - 360px);
            }
        }

        &:last-child {
            @media(min-width: 992px) {
                width: 260px;
            }

            @media(min-width: 1280px) {
                width: 360px;
            }
        }
    }
}

.ref-list_left {
    @media(min-width: 1280px) {
        column-count: 2;
    }
}

.reference__bottom {
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .column {
            &:first-child {
                @media(min-width: 1280px) {
                    width: 40%;
                }

                @media(min-width: 1900px) {
                    width: 54%;

                    .warn-article {
                        max-width: 100%;
                    }
                }
            }

            &:last-child {
                @media(min-width: 1280px) {
                    width: 360px;
                }
            }
        }
    }
}

.reference__column-middle {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    @media(min-width: 1900px) {
        padding-right: 50px;
    }
}

.sub-title_ref {
    padding-left: 50px;
}

.reference__btn-wrap {
    text-align: center;

    .btn {
        @media(max-width: 1279px) {
            font-size: 16px;
        }
    }
}

.ref-img {
    position: relative;
    display: inline-block;
}

.ref-img__article {
    position: absolute;
    top: 146px;
    color: #E60028;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    border: 2px solid #E60028;
    padding: 7px 14px;
    transform: rotate(-43deg);
}

.about-list_ref {

    @media(max-width: 767px) {
        display: block;
    }
}

.about-list_ref>li {
    @media(max-width: 767px) {
        margin-bottom: 32px;
    }
}

.reference__phone-title {
    color: #374957;
    font-size: 16px;
    margin-bottom: 23px;

    @media(min-width: 1600px) {
        font-size: 20px;
    }
}

.ref-helth {
    margin-bottom: 29px;

    @media(min-width: 1280px) {
        margin-bottom: 48px;
        position: relative;
        padding-left: 55px;
        font-size: 20px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background: url('../img/nurse.png') no-repeat center;
        }
    }
}

.ref-list_indeed {
    margin-bottom: 25px;
}

.indeed__img {
    text-align: center;
}

.indeed {
    @media(min-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .indeed__item {
            &:last-child {
                width: calc(100% - 300px);
            }

            &:last-child {
                width: 300px;
            }
        }
    }
}

.price-table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background: linear-gradient(84.64deg, #00BBE4 0%, #03C4C4 100%);

        @media(max-width: 767px) {
            display: none;
        }

        tr {
            th {
                color: white;
                font-weight: 600;
                font-size: 16px;
                padding-top: 22px;
                padding-bottom: 22px;

                &:first-child {
                    text-align: left;
                    padding-left: 28px;
                    border-radius: 10px;
                    overflow: hidden;

                    @media(min-width: 768px) {
                        width: 45%;
                    }

                    @media(min-width: 1280px) {
                        width: 65%;
                    }
                }

                &:not(:first-child) {
                    text-align: center;
                }
            }
        }
    }

    tbody {
        tr {
            border: 1px solid #DADADA;

            @media(max-width: 767px) {
                display: block;
                margin-bottom: 40px;
                border-radius: 10px;
                padding-bottom: 15px;
            }

            td {
                padding: 25px 0px;

                @media(max-width: 767px) {
                    display: block;
                    padding: 20px 15px 10px;
                }

                &:first-child {
                    @media(max-width: 767px) {
                        text-align: center;
                    }

                    @media(min-width: 768px) {
                        padding-left: 28px;
                    }
                }

                &:not(:first-child) {
                    text-align: center;
                }
            }
        }
    }
}

.price-block {
    padding-top: 45px;
}

.price-table__mob-title {
    color: #484848;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}

.price-table__check {
    @media(max-width: 767px) {
        display: none;
    }
}

.price-table__btn {
    font-size: 16px;

    @media(min-width: 768px) {
        display: none;
    }
}

.price-table__mob-title {
    @media(min-width: 768px) {
        display: none;
    }
}

.form-block {
    padding-top: 48px;
}

.form {
    box-shadow: 2px 6px 30px rgba(56, 55, 121, 0.19);
    border-radius: 6px;
    padding: 18px 16px;

    @media(max-width: 1279px) {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    @media(min-width: 1600px) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        padding-top: 42px;
        padding-right: 50px;
    }

    .form__item {
        &:first-child {
            @media(max-width: 1599px) {
                display: none;
            }

            @media(min-width: 1600px) {
                width: 330px;
            }
        }

        &:last-child {
            @media(min-width: 1600px) {
                width: calc(100% - 330px);
            }
        }
    }
}

.form__img {
    img {
        display: block;
    }
}

.form-block__img {
    text-align: center;
    margin-bottom: 10px;

    @media(min-width: 768px) {
        display: none;
    }
}

.form-block__column {
    display: flex;
    flex-direction: column;

    @media(min-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column {
        &:not(:first-child) {
            @media(max-width: 1279px) {
                margin-bottom: 26px;
            }
        }

        &:first-child {
            @media(min-width: 1280px) {
                width: 48%;
            }
        }

        &:nth-child(2) {
            @media(min-width: 1280px) {
                width: 24%;
            }
        }

        &:nth-child(3) {
            @media(max-width: 1279px) {
                order: 2;
            }

            @media(min-width: 1280px) {
                width: 24%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &:nth-child(4) {
            @media(max-width: 1279px) {
                order: 1;
            }

            @media(min-width: 1280px) {
                width: 49%;
                padding-top: 30px;
            }

            @media(min-width: 1600px) {
                padding-top: 45px;
            }
        }

        &:last-child {
            @media(max-width: 1279px) {
                order: 2;
            }

            @media(min-width: 1280px) {
                width: 49%;
                padding-top: 30px;
                text-align: right;
                padding-right: 30px;
            }

            @media(min-width: 1600px) {
                padding-top: 45px;
            }
        }
    }
}

.form__title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #0C88ED;
    font-weight: 500;

    @media(max-width: 1279px) {
        text-align: center;
    }

    @media(min-width: 1280px) {
        color: #484848;
        margin-bottom: 49px;
        font-weight: 600;
    }
}

.inp {
    background: #EEF2F7;
    border-radius: 2px;
    color: #898F97;
    font-size: 16px;
    border: none;
    padding-left: 20px;
    height: 56px;
    width: 100%;

    @media(max-width: 1279px) {
        margin-bottom: 26px;
    }
}

.form__inp-block {
    li {
        @media(min-width: 768px) {
            width: 48%;
        }
    }

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.select-block__form {
    max-width: 100%;

    .selectric {
        height: 56px;
        background: #EEF2F7;

        .button {
            background: inherit;
        }

        .label {
            line-height: 56px;
        }
    }
}

.form__btn {
    width: 100%;
    background: #FFDD2D;
    border-radius: 6px;
    height: 56px;
    color: #504B5A;
    font-weight: 500;
    font-size: 18px;
}

.check-inp {
    display: none;
}

.check-add {
    color: #6B6B6B;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    padding-left: 60px;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #DADADA;
        border-radius: 4px;
        z-index: 1;
    }

    &:before {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url('../img/check-red.png') no-repeat center;
        z-index: 10;
        display: none;
    }
}

.check-inp:checked+label:before {
    display: block;
}

.check-privacy {
    display: inline-block;
    color: #6B6B6B;
    font-size: 12px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;

    a {
        text-decoration: underline;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border: 2px solid #00ADE9;
        border-radius: 4px;
        z-index: 1;
    }

    &:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background: url('../img/check-red.png') no-repeat center;
        background-size: contain;
        z-index: 10;
        display: none;
    }
}