.top-cont
    .container
        .column.top-cont__left
            .top-cont__info-mob
                .fillials-count
                    .fillials-count__num 25
                    .fillials-count__article 
                        span Филлиалов 
                        <br>рядом с метро
                .gerb.gerb_mob
                    .gerb__img
                        img(src="img/gerb.png")
                    .gerb__article 
                        |Имеется лицензия на проведение медицинского освидетельствование иностранных граждан

            .top-cont__article
                h1.top-cont__title
                    |Справка в УФМС для иностранных граждан

                p.top-cont__sub-title 
                    |Справка для РВП, ВНЖ, для разрешения на работу иностранным граждан (ФМС)

            .top-cont__info
                ul.about-list.about-list_top
                    li
                        .about-price
                            .about-price__img
                                img(src="img/wallet.png")
                            ul.about-price__info  
                                li 
                                    |Цена справки:
                                li
                                    |от 2 850 руб.
                    li
                        .about-time
                            .about-time__img
                                img(src="img/clock.png")
                            ul.about-time__info  
                                li 
                                    |Время получения справки:
                                li
                                    |от 20 мин

                p.warn-article
                    |27 июня 2020 года вступил в силу Приказ Министерства здравоохранения РФ от 15.06.2020 № 581н, в соответствии с которым к списку анализов добавляется анализ на коронавирусную инфекцию (COVID-19) методом ПЦР. Данное тестирование Вы можете пройти у нас.

            .top-cont__btn-wrap
                button(type="button").btn.top-cont__btn Официально оформить справку в УФМС

        .column.top-cont__right
            .top-cont__photo
                img(src="img/peoples.png")


