.top-cont
    .container
        .column.top-cont__left
            .top-cont__info-mob
                .fillials-count
                    .fillials-count__num 25
                    .fillials-count__article 
                        span Филлиалов 
                        <br>рядом с метро
                .gerb.gerb_mob
                    .gerb__img
                        img(src="img/gerb.png")
                    .gerb__article 
                        |Имеется лицензия на проведение медицинского освидетельствование иностранных граждан

            .top-cont__article
                h1.top-cont__title
                    |Справка в УФМС для иностранных граждан

                p.top-cont__sub-title 
                    |Справка для РВП, ВНЖ, для разрешения на работу иностранным граждан (ФМС)

            .top-cont__info
                ul.about-list.about-list_top
                    li
                        .about-price
                            .about-price__img
                                img(src="img/wallet.png")
                            ul.about-price__info  
                                li 
                                    |Цена справки:
                                li
                                    |от 2 850 руб.
                    li
                        .about-time
                            .about-time__img
                                img(src="img/clock.png")
                            ul.about-time__info  
                                li 
                                    |Время получения справки:
                                li
                                    |от 20 мин

                p.warn-article
                    |27 июня 2020 года вступил в силу Приказ Министерства здравоохранения РФ от 15.06.2020 № 581н, в соответствии с которым к списку анализов добавляется анализ на коронавирусную инфекцию (COVID-19) методом ПЦР. Данное тестирование Вы можете пройти у нас.

            .top-cont__btn-wrap
                button(type="button").btn.top-cont__btn Официально оформить справку в УФМС

        .column.top-cont__right
            .top-cont__photo
                img(src="img/peoples.png")

.about-block.container
    h2.main-title Медкомиссия для иностранных граждан (оформление медсправки для ФМС)
    .cont-txt
        p В соответствии с действующим законодательством все иностранные граждане, которые хотят получить разрешение на временное проживание в РФ, вид на жительство или устроиться на работу, должны пройти медкомиссию. По результатам проведенных обследований выдается медицинская справка, которая подается в отделение ФМС вместе с другими документами. Вы можете оформить такую медсправку в нашем медцентре, клиники расположены в Москве и Московской области. Медосмотр проводится быстро, без очередей.

    .reference
        .reference__top
            .reference__item
                .reference__column-top
                    .column
                        h3.reference__title Справка для РВП, ВНЖ, для разрешения на работу для иностранных граждан (ФМС)
                    .column
                        ul.about-list.about-list_ref
                            li
                                .about-price
                                    .about-price__img
                                        img(src="img/wallet.png")
                                    ul.about-price__info  
                                        li 
                                            |Цена справки:
                                        li
                                            |от 2 850 руб.
                            li
                                .about-time
                                    .about-time__img
                                        img(src="img/clock.png")
                                    ul.about-time__info  
                                        li 
                                            |Время получения справки:
                                        li
                                            |от 20 мин

                .reference__column-middle
                    .column
                        .ref-title.ref-title_doctor
                            |Каких врачей необходимо проходить и какие анализы сдавать:

                        ul.ref-list.ref-list_left
                            li
                                a(href="#") терапевт (проводит общий осмотр пациента);
                            li
                                a(href="#") фтизиатр;
                            li
                                a(href="#") дерматолог;
                            li
                                a(href="#") инфекционист;
                            li
                                a(href="#") психиатр-нарколог.
                            li
                                a(href="#") флюорографическая диагностика грудной полости;
                            li
                                a(href="#") общий анализ крови и мочи;
                            li
                                a(href="#") анализ крови на ВИЧ;
                            li
                                a(href="#") анализ крови на ВИЧ;
                            li
                                a(href="#") анализ мочи на наркотики и психотропы.

                    .column
                        .ref-title.ref-title_docum Документы для оформления:

                        ul.ref-list
                            li
                                a(href="#") Паспорт;
                            li
                                a(href="#") Перевод паспорта;
                            li
                                a(href="#") Регистрация;

            .reference__item.reference__item_img
                .ref-img
                    img(src="img/fms.jpg")
                    .ref-img__article Образец справки

        .reference__bottom
            .column
                p.warn-article 
                    |За день до сдачи анализов нельзя принимать снотворные, обезболивающие, противокашлевые и транквилизирующие средства, а также психотропные препараты, так это может повлиять на результат. Если какие-либо средства Вы принимаете на регулярной основе, необходимо предоставить рецепт.

            .column
                .reference__phone
                    .reference__phone-title Запись на медкомиссию. Звоните!

                    a(href="tel:74956496451").phone  
                        span + 7 495 
                        |649-64-51
                    .sub-title.sub-title_ref Единый номер колл-центра

            .column
                .reference__btn-wrap
                    button(type="button").btn Оформить справку в УФМС

    .reference
        .reference__top
            .reference__item
                .reference__column-top.reference__column-top_bottom
                    .column
                        h3.reference__title Справка для РВП, ВНЖ, для разрешения на работу для иностранных граждан (ФМС) + ПЦР-тест на COVID-19
                        .reference__all 
                            span Все вместе в одном месте
                    .column
                        ul.about-list.about-list_ref
                            li
                                .about-price
                                    .about-price__img
                                        img(src="img/wallet.png")
                                    ul.about-price__info  
                                        li 
                                            |Цена справки:
                                        li
                                            |от 4 650 руб.
                            li
                                .about-time
                                    .about-time__img
                                        img(src="img/clock.png")
                                    ul.about-time__info  
                                        li 
                                            |Время получения справки:
                                        li
                                            |от 20 мин

                .reference__column-middle
                    .column
                        .ref-title.ref-title_doctor
                            |Каких врачей необходимо проходить и какие анализы сдавать:

                        ul.ref-list.ref-list_left
                            li
                                a(href="#") терапевт (проводит общий осмотр пациента);
                            li
                                a(href="#") фтизиатр;
                            li
                                a(href="#") дерматолог;
                            li
                                a(href="#") инфекционист;
                            li
                                a(href="#") психиатр-нарколог.
                            li
                                a(href="#") флюорографическая диагностика грудной полости;
                            li
                                a(href="#") общий анализ крови и мочи;
                            li
                                a(href="#") анализ крови на ВИЧ;
                            li
                                a(href="#") анализ крови на ВИЧ;
                            li
                                a(href="#") анализ мочи на наркотики и психотропы.

                    .column
                        .ref-title.ref-title_docum Документы для оформления:

                        ul.ref-list
                            li
                                a(href="#") Паспорт;
                            li
                                a(href="#") Перевод паспорта;
                            li
                                a(href="#") Регистрация;

            .reference__item.reference__item_img
                .ref-img
                    img(src="img/fms.jpg")
                    .ref-img__article Образец справки

        .reference__bottom
            .column
                p.warn-article 
                    |За день до сдачи анализов нельзя принимать снотворные, обезболивающие, противокашлевые и транквилизирующие средства, а также психотропные препараты, так это может повлиять на результат. Если какие-либо средства Вы принимаете на регулярной основе, необходимо предоставить рецепт.

            .column
                .reference__phone
                    .reference__phone-title Запись на медкомиссию. Звоните!

                    a(href="tel:74956496451").phone  
                        span + 7 495 
                        |649-64-51
                    .sub-title.sub-title_ref Единый номер колл-центра

            .column
                .reference__btn-wrap
                    button(type="button").btn Оформить справку в УФМС

.indeed.container
    .indeed__item
        h2.main-title Кому и когда необходимо получить справку

        .ref-helth Справка о состоянии здоровья включена в пакет обязательных документов, которые мигрантам необходимо предоставить в УФМС для оформления:

        ul.ref-list.ref-list_indeed
            li
                a(href="#") трудового патента;
            li
                a(href="#") ВНЖ (вида на жительство в РФ);
            li
                a(href="#") РВП (разрешения на временное проживание на территории России).

    .indeed__item
        .indeed__img
            img(src="img/migrate.jpg")

.price-block.container
    h2.main-title Наши услуги и цены

    table.price-table
        thead
            tr
                th Наименование услуги (медсправки)
                th Время получения
                th Цена
                th Онлайн Запись

        tbody
            tr
                td
                    .price-table__title
                        |Справка для РВП, ВНЖ, для разрешения на работу для иностранных граждан (ФМС)
                td 
                    .price-table__mob-title Время получения
                    .price-table__time
                        |от 20 мин
                td
                    .price-table__mob-title Цена
                    .price-table__price
                        |от 2 800 руб.
                td
                    .price-table__check
                        img(src="img/check.png")

                    button(type="button").btn.price-table__btn Оформить справку в УФМС

            tr
                td
                    .price-table__title
                        |Справка для РВП, ВНЖ, для разрешения на работу для иностанных граждан (ФМС) + ПЦР-тест на COVID-19
                td
                    .price-table__mob-title Время получения
                    .price-table__time
                        |от 20 мин
                td
                    .price-table__mob-title Цена
                    .price-table__price
                        |от 2 800 руб.
                td
                    .price-table__check
                        img(src="img/check.png")

                    button(type="button").btn.price-table__btn Оформить справку в УФМС

.form-block.container
    .form-block__img
        img(src="img/girl.jpg")

    h2.main-title Медкомиссия для иностранных граждан (оформление медсправки для ФМС)

    .cont-txt
        p 
            |В соответствии с действующим законодательством все иностранные граждане, которые хотят получить разрешение на временное проживание в РФ, вид на жительство или устроиться на работу, должны пройти медкомиссию. По результатам проведенных обследований выдается медицинская справка, которая подается в отделение ФМС вместе с другими документами. Вы можете оформить такую медсправку в нашем медцентре, клиники расположены в Москве и Московской области. Медосмотр проводится быстро, без очередей.

    form.form(action="#" method="POST")
        .form__item
            .form__img
                img(src="img/girl.jpg")

        .form__item
            .form__title 
                |Запишитесь на медкомиссию для разрешения на работу для иностранных граждан (ФМС) онлайн!

            .form-block__column
                .column
                    ul.form__inp-block
                        li
                            .sub-title Введите имя:
                            input(type="text" placeholder="Имя").inp
                        li
                            .sub-title Телефон:
                            input(type="text" placeholder="+7 ___ ___-__-__").inp
                .column
                    .select-block.select-block__form
                        .sub-title Выберите метро:
                        .select
                            select
                                option м.Братиславская
                                option Тест 1
                                option Тест 2
                .column
                    button(type="submit").form__btn Отправить заявку

                .column
                    input(type="checkbox" checked)#checkAdd.check-inp
                    label(for="checkAdd").check-add
                        |Добавить в справку ПЦР-тест на COVID-19

                .column
                    input(type="checkbox" checked)#checkPrivacy.check-inp
                    label(for="checkPrivacy").check-privacy 
                        |Я принимаю 
                        a(href="#") условия передачи информации


