.footer
    .container
        .footer__top
            .column
                .logo.logo_footer
                    .logo__img.logo__img_footer
                        img(src="img/logo-w.png")
                    ul.logo__article.logo__article_footer
                        li справки в
                        li фмс

                .adress.adress_footer
                    .adress__icon
                        img(src="img/hospital-w.png") 
                    |Москва и Московская область

                .footer-phone-wrap
                    a(href="tel:74956496451").phone.phone_footer  
                        .phone__icon
                            img(src="img/phone-w.png")
                        span + 7 495 
                        |649-64-51

                    .sub-title.sub-title_footer Единый номер колл-центра

            .column
                a(href="#").footer-link 
                    |Справка для разрешения на работу для иностранных граждан (ФМС)

            .column
                a(href="#").footer-link 
                    |Справка для разрешения на работу для иностранных граждан (ФМС) + ПЦР-тест на COVID-19

            .column
                ul.footer-list
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Услуги и цены
                    li
                        a(href="#") Контакты

                .payment
                    .payment__article Оплата наличными и по карте:

                    ul.payment-img
                        li
                            img(src="img/mastercard.png")
                        li
                            img(src="img/visa.png")
                        li
                            img(src="img/sber.png")

        .footer__bottom
            .copy © 2020 справки в фмс
            .metr
                img(src="img/metr.jpg")





script(src="libs/jquery/jquery3.5.1.min.js")
script(src="libs/swiper/swiper.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="js/common.js")