.header
    .header__top
        .container
            .column
                .logo
                    .logo__img
                        img(src="img/logo.png")
                    ul.logo__article
                        li справки в
                        li фмс

                .fillials-count.fillials-count_top
                    .fillials-count__num 25
                    .fillials-count__article 
                        span Филлиалов 
                        <br>рядом с метро

                .select-block
                    .sub-title Выберите метро:
                    .select
                        select
                            option м.Братиславская
                            option Тест 1
                            option Тест 2

            .column
                ul.info-list
                    li
                        a(href="tel:74956496451").phone  
                            span + 7 495 
                            |649-64-51
                        .sub-title Единый номер колл-центра
                    li
                        .adress Москва и Московская область

                ul.main-nav
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Услуги и цены
                    li
                        a(href="#") Контакты

    .header__bottom
        .container
            .column
                a(href="#").ref-link Справка для РВП, ВНЖ, для разрешения на <br>работу для иностранных граждан (ФМС)

            .column
                a(href="#").ref-link Справка для РВП, ВНЖ, для разрешения на работу для <br>иностранных граждан (ФМС) + ПЦР-тест на COVID-19

            .column
                .gerb
                    .gerb__img
                        img(src="img/gerb.png")
                    .gerb__article Имеется лицензия на проведение медицинского <br>освидетельствование иностранных граждан

.header-mob
    .burger

    ul.logo-mob
        li справки в
        li ФМС

    a(href="tel:74956496451").phone-mob

.dropdown-menu
    .select-block
        .sub-title Выберите метро:
        .select
            select
                option м.Братиславская
                option Тест 1
                option Тест 2

    .dropdown-menu__article
        |Справка для РВП, ВНЖ, для разрешения на работу для иностранных граждан (ФМС)

    .dropdown-menu__article
        |Справка для РВП, ВНЖ, для разрешения на работу для иностранных граждан (ФМС) + ПЦР-тест на COVID-19

    ul.mob-nav
        li
            a(href="#") О компании
        li
            a(href="#") Услуги и цены
        li
            a(href="#") Контакты





